<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>684</integer>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Twilio Sans Mono</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>82</integer>
				<key>identifier</key>
				<string>mmpM7BXCYo</string>
				<key>x</key>
				<integer>1100</integer>
				<key>y</key>
				<integer>755</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>LZwCH9jjyc</string>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>284</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>4e6DjtFqL0</string>
				<key>x</key>
				<integer>689</integer>
				<key>y</key>
				<integer>55</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>PSaCUppzAx</string>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>343</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>oXmhvDvufg</string>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>185</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>uhksRqPBqx</string>
				<key>x</key>
				<integer>906</integer>
				<key>y</key>
				<integer>594</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>p09xdCP3jZ</string>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>374</integer>
			</dict>
		</array>
		<key>italicAngle</key>
		<integer>-8</integer>
		<key>openTypeHeadCreated</key>
		<string>2021/11/29 14:41:01</string>
		<key>openTypeNameCompatibleFullName</key>
		<string>Twilio Sans Mono Light Italic</string>
		<key>openTypeNameUniqueID</key>
		<string>1.006;SHRP;TwilioSansMono-LightItl</string>
		<key>openTypeOS2WeightClass</key>
		<integer>300</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-14</integer>
			<integer>0</integer>
			<integer>523</integer>
			<integer>537</integer>
			<integer>684</integer>
			<integer>698</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptFontName</key>
		<string>TwilioSansMono-LightItl</string>
		<key>postscriptFullName</key>
		<string>Twilio Sans Mono Light Italic</string>
		<key>postscriptIsFixedPitch</key>
		<true/>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>233</integer>
		</array>
		<key>styleMapStyleName</key>
		<string>regular</string>
		<key>styleName</key>
		<string>Light Italic</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>6</integer>
		<key>xHeight</key>
		<integer>523</integer>
	</dict>
</plist>
