<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>750</integer>
		<key>capHeight</key>
		<integer>684</integer>
		<key>descender</key>
		<integer>-250</integer>
		<key>familyName</key>
		<string>Twilio Sans Mono</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>x6JDGwhcr0</string>
				<key>x</key>
				<integer>-802</integer>
				<key>y</key>
				<integer>-172</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>UFZfcjDYgJ</string>
				<key>x</key>
				<integer>1008</integer>
				<key>y</key>
				<integer>-26</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>wUbOEXltCN</string>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>-204</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>Pue3moD0sU</string>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>487</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>rYNYBmOWqm</string>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>23</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>DEAmCMMcVC</string>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>474</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>71YhHuJ9RG</string>
				<key>x</key>
				<integer>546</integer>
				<key>y</key>
				<integer>122</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>gKPdJOVp2f</string>
				<key>x</key>
				<integer>1134</integer>
				<key>y</key>
				<integer>449</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>e27nU275IP</string>
				<key>x</key>
				<integer>1091</integer>
				<key>y</key>
				<integer>314</integer>
			</dict>
		</array>
		<key>italicAngle</key>
		<integer>-8</integer>
		<key>openTypeHeadCreated</key>
		<string>2021/11/29 14:41:01</string>
		<key>openTypeNameCompatibleFullName</key>
		<string>Twilio Sans Mono Heavy Italic</string>
		<key>openTypeNameUniqueID</key>
		<string>1.006;SHRP;TwilioSansMono-HeavyItl</string>
		<key>openTypeOS2WeightClass</key>
		<integer>400</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-14</integer>
			<integer>0</integer>
			<integer>523</integer>
			<integer>537</integer>
			<integer>684</integer>
			<integer>698</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptFontName</key>
		<string>TwilioSansMono-HeavyItl</string>
		<key>postscriptFullName</key>
		<string>Twilio Sans Mono Heavy Italic</string>
		<key>postscriptIsFixedPitch</key>
		<true/>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>233</integer>
		</array>
		<key>styleMapStyleName</key>
		<string>regular</string>
		<key>styleName</key>
		<string>Heavy Italic</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>6</integer>
		<key>xHeight</key>
		<integer>523</integer>
	</dict>
</plist>
